.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background: hsl(148, 38%, 91%);
}

#success {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 1px solid hsl(169, 82%, 27%);
  background-color: hsl(169, 82%, 27%);
  border-radius: 7px;
  padding: 20px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  display: none;
}
#success .successHeading {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
#success .successHeading img {
  width: 20px;
  height: auto;
  margin-bottom: 3px;
  margin-right: 10px;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(25rem, 32vw, 50rem);
  border: 1px solid hsl(148, 38%, 91%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  transition: height 0.2s ease-in;
}
@media screen and (max-width: 400px) {
  #main {
    width: 100%;
  }
}
#main .contactForm {
  position: relative;
  padding: 0.8rem 1.5rem;
}
@media screen and (max-width: 400px) {
  #main .contactForm {
    padding: 1rem;
  }
}
#main .contactForm .err {
  font-size: 10px;
  font-weight: 600;
  display: none;
  margin-bottom: 0.5rem;
  color: hsl(0, 66%, 54%);
}
#main .contactForm .heading h3 {
  font-size: 1.5rem;
  color: hsl(187, 24%, 22%);
}
#main .contactForm .form-x {
  margin: 0.5rem 0;
  font-size: 15px;
  color: hsl(187, 24%, 22%);
}
#main .contactForm .form-x label {
  line-height: 25px;
}
#main .contactForm .form-x input {
  outline: none;
  padding: 7px 10px;
  margin: 0;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  height: 20px;
  color: hsl(187, 24%, 22%);
}
@media screen and (max-width: 400px) {
  #main .contactForm .form-x input {
    width: 85vw;
  }
}
#main .contactForm .form-x input:focus {
  border-color: hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);
}
#main .contactForm .form-x input:hover {
  border-color: hsl(169, 82%, 27%);
  cursor: pointer;
}
#main .contactForm .form-x .star {
  position: absolute;
  font-size: 12px;
  color: hsl(169, 82%, 27%);
  margin-left: 5px;
  margin-top: -1px;
}
#main .contactForm .name-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 400px) {
  #main .contactForm .name-div {
    width: 100vw;
    display: block;
  }
}
#main .contactForm .email-div input {
  width: calc(100% - 1.4rem);
}
@media screen and (max-width: 400px) {
  #main .contactForm .email-div input {
    width: 85vw;
  }
}
#main .contactForm .query-div .qry {
  font-size: 15px;
}
#main .contactForm .query-div .queryType {
  margin-top: 8px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 400px) {
  #main .contactForm .query-div .queryType {
    width: 100vw;
    display: block;
    width: 85vw;
  }
}
#main .contactForm .query-div .queryType .form-x {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
  border: 1px solid hsl(186, 15%, 59%);
  padding: 8px;
  border-radius: 5px;
}
@media screen and (max-width: 400px) {
  #main .contactForm .query-div .queryType .form-x {
    width: 85vw;
  }
}
#main .contactForm .query-div .queryType .form-x label {
  line-height: 0;
  margin-top: 0.1rem;
  cursor: pointer;
}
#main .contactForm .query-div .queryType .form-x input[type=radio] {
  margin-right: 0.5rem;
}
#main .contactForm .query-div .queryType .form-x:hover {
  border-color: hsl(169, 82%, 27%);
  cursor: pointer;
}
#main .contactForm .query-div .queryType .general-q-div {
  margin-right: 0.5rem;
}
#main .contactForm .query-div .queryType .support-q-div {
  margin-left: 0.5rem;
}
#main .contactForm .message-div textarea {
  outline: none;
  padding: 7px 10px;
  margin: 0;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  width: calc(100% - 1.4rem);
  resize: none;
}
#main .contactForm .message-div textarea:focus {
  border-color: hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);
}
#main .contactForm .message-div textarea:hover {
  border-color: hsl(169, 82%, 27%);
  cursor: pointer;
}
#main .contactForm .consent-parent-div .consent-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
}
#main .contactForm .consent-parent-div .consent-div input {
  margin-right: 1rem;
}
#main .contactForm .consent-parent-div .consent-div input:checked {
  border-color: hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);
}
#main .contactForm .consent-parent-div .err {
  margin: 0;
}
#main .contactForm .submit-div {
  margin: 1rem 0;
}
#main .contactForm .submit-div button {
  width: 100%;
  height: 38px;
  border: 1px solid hsl(169, 82%, 27%);
  border-radius: 5px;
  background: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
#main .contactForm .submit-div button:hover {
  filter: brightness(0.7);
}/*# sourceMappingURL=style.css.map */