$lightGreen: hsl(148, 38%, 91%);
$mediumGreen: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);
$white: hsl(0, 0%, 100%);
$mediumGray: hsl(186, 15%, 59%);
$darkGray: hsl(187, 24%, 22%);
$mainWidth: clamp(25rem, 32vw, 50rem);

.karla-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: $lightGreen;
}

#success {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 1px solid $mediumGreen;
    background-color: $mediumGreen;
    border-radius: 7px;
    padding: 20px;
    color: $white;
    font-size: 15px;
    display: none;

    .successHeading {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;

        img {
            width: 20px;
            height: auto;
            margin-bottom: 3px;
            margin-right: 10px;
        }
    }
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $mainWidth;
    border: 1px solid $lightGreen;
    border-radius: 10px;
    background-color: $white;
    transition: height .2s ease-in;

    @media screen and (max-width: 400px) {
        width: 100%;
    }

    .contactForm {
        position: relative;
        padding: .8rem 1.5rem;

        @media screen and (max-width: 400px) {
            padding: 1rem;
        }

        .err {
            font-size: 10px;
            font-weight: 600;
            display: none;
            margin-bottom: .5rem;
            color: $red;
        }

        .heading h3 {
            font-size: 1.5rem;
            color: $darkGray;
        }

        @mixin flex-display {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        @mixin mobile-display {
            width: 100vw;
            display: block;
        }

        @mixin input-focus {
            border-color: $mediumGreen;
            background-color: $lightGreen;
        }

        @mixin input-hover {
            border-color: $mediumGreen;
            cursor: pointer;
        }

        .form-x {
            margin: .5rem 0;
            font-size: 15px;
            color: $darkGray;

            label {
                line-height: 25px;
            }

            input {
                outline: none;
                padding: 7px 10px;
                margin: 0;
                border: 1px solid $mediumGray;
                border-radius: 5px;
                height: 20px;
                color: $darkGray;
            }

            @media screen and (max-width: 400px) {
                input {
                    width: 85vw;
                }
            }

            input:focus {
                @include input-focus;
            }

            input:hover {
                @include input-hover;
            }

            .star {
                position: absolute;
                font-size: 12px;
                color: $mediumGreen;
                margin-left: 5px;
                margin-top: -1px;
            }
        }

        .name-div {
            @include flex-display;

            @media screen and (max-width: 400px) {
                @include mobile-display;
            }
        }

        .email-div {
            input {
                width: calc(100% - 1.4rem);
                @media screen and (max-width: 400px) {
                    width: 85vw;
                }
            }
        }

        .query-div {

            .qry {
                font-size: 15px;
            }

            .queryType {
                margin-top: 8px;
                height: 40px;
                @include flex-display;
                @media screen and (max-width: 400px) {
                    @include mobile-display;
                    width: 85vw;
                }

                .form-x {
                    @include flex-display;
                    flex-direction: row-reverse;
                    justify-content: left;
                    border: 1px solid $mediumGray;
                    padding: 8px;
                    border-radius: 5px;

                    @media screen and (max-width: 400px) {
                        width: 85vw;
                    }

                    label {
                        line-height: 0;
                        margin-top: .1rem;
                        cursor: pointer;
                    }

                    input[type="radio"] {
                        margin-right: .5rem;
                    }
                }

                .form-x:hover {
                    @include input-hover;
                }

                .general-q-div {
                    margin-right: .5rem;
                }

                .support-q-div {
                    margin-left: .5rem;
                }
            }
        }

        .message-div {
            textarea {
                outline: none;
                padding: 7px 10px;
                margin: 0;
                border: 1px solid $mediumGray;
                border-radius: 5px;
                width: calc(100% - 1.4rem);
                resize: none;
            }

            textarea:focus {
                @include input-focus;
            }

            textarea:hover {
                @include input-hover;
            }
        }

        .consent-parent-div {

            .consent-div {
                @include flex-display;
                flex-direction: row-reverse;
                justify-content: left;
    
                input {
                    margin-right: 1rem;
                }
    
                input:checked {
                    @include input-focus;
                }
            }

            .err {
                margin: 0;
            }
        }

        .submit-div {
            margin: 1rem 0;

            button {
                width: 100%;
                height: 38px;
                border: 1px solid $mediumGreen;
                border-radius: 5px;
                background: $mediumGreen;
                color: $white;
                cursor: pointer;
            }

            button:hover {
                filter: brightness(0.7);
            }
        }
    }
}